/* You can add global styles to this file, and also import other style files */
body {
    --header-height: 52px;

    &.dark {
        --bg-primary: #212121;
        --bg-secondary: #303030;
        --bg-tertiary: #414141;
        --bg-scrim: #0d0d0d80;
        --bg-elevated-primary: #303030;
        --bg-elevated-secondary: #181818;
        --bg-status-warning: #4a2206;
        --bg-status-error: #4d100e;
        --border-default: #ffffff26;
        --border-heavy: #fff3;
        --border-light: #ffffff0d;
        --border-status-warning: #4a2206;
        --border-status-error: #4d100e;
        --text-primary: #fff;
        --text-secondary: #f3f3f3;
        --text-tertiary: #afafaf;
        --text-inverted: #0d0d0d;
        --text-inverted-static: #fff;
        --text-accent: #66b5ff;
        --text-status-warning: #ff9e6c;
        --text-status-error: #ff8583;
        --icon-primary: #e8e8e8;
        --icon-secondary: #cdcdcd;
        --icon-tertiary: #afafaf;
        --icon-inverted: #0d0d0d;
        --icon-inverted-static: #fff;
        --icon-accent: #66b5ff;
        --icon-status-warning: #ff9e6c;
        --icon-status-error: #ff8583;
        --interactive-bg-primary-default: #fff;
        --interactive-bg-primary-hover: #fffc;
        --interactive-bg-primary-press: #ffffffe5;
        --interactive-bg-primary-inactive: #fff;
        --interactive-bg-primary-selected: #fff;
        --interactive-bg-secondary-default: #fff0;
        --interactive-bg-secondary-hover: #ffffff1a;
        --interactive-bg-secondary-press: #ffffff0d;
        --interactive-bg-secondary-inactive: #fff0;
        --interactive-bg-secondary-selected: #ffffff1a;
        --interactive-bg-tertiary-default: #212121;
        --interactive-bg-tertiary-hover: #181818;
        --interactive-bg-tertiary-press: #0d0d0d;
        --interactive-bg-tertiary-inactive: #212121;
        --interactive-bg-tertiary-selected: #212121;
        --interactive-bg-accent-default: #013566;
        --interactive-bg-accent-hover: #003f7a;
        --interactive-bg-accent-muted-hover: #3b4045;
        --interactive-bg-accent-press: #004f99;
        --interactive-bg-accent-muted-press: #40484f;
        --interactive-bg-accent-inactive: #013566;

        --white: #fff;
        --black: #000;
        --gray-50: #f9f9f9;
        --gray-100: #ececec;
        --gray-200: #e3e3e3;
        --gray-300: #cdcdcd;
        --gray-400: #b4b4b4;
        --gray-500: #9b9b9b;
        --gray-600: #676767;
        --gray-700: #424242;
        --gray-750: #2f2f2f;
        --gray-800: #212121;
        --gray-900: #171717;
        --gray-950: #0d0d0d;
        --red-500: #e02e2a;
        --red-700: #911e1b;
        --brand-purple: #ab68ff;
        --yellow-900: #4d3b00;

        --main-surface-background: #212121e6;
        --message-surface: #323232d9;
        --composer-blue-bg: #2a4a6d;
        --composer-blue-hover: #1a416a;
        --composer-blue-text: #48aaff;
        --composer-surface-primary: #303030;
        --dot-color: var(--white);
        --text-primary: var(--gray-100);
        --icon-surface: 240 240 240;
        --text-primary-inverse: var(--gray-950);
        --text-secondary: #ffffffb3;
        --text-tertiary: #ffffff94;
        --text-quaternary: #ffffff69;
        --text-placeholder: #fffc;
        --content-primary: #f2f6fa;
        --content-secondary: #dbe2e8;
        --text-error: #f93a37;
        --border-xlight: #ffffff0d;
        --border-light: #ffffff1a;
        --border-medium: #ffffff26;
        --border-heavy: #fff3;
        --border-xheavy: #ffffff40;
        --border-sharp: #ffffff0d;
        --main-surface-primary: var(--gray-800);
        --main-surface-primary-inverse: var(--white);
        --main-surface-secondary: var(--gray-750);
        --main-surface-secondary-selected: #ffffff26;
        --main-surface-tertiary: var(--gray-700);
        --sidebar-surface-primary: var(--gray-900);
        --sidebar-surface-secondary: var(--gray-800);
        --sidebar-surface-tertiary: var(--gray-750);
        --sidebar-title-primary: #f0f0f080;
        --sidebar-surface: #2b2b2b;
        --sidebar-body-primary: #ededed;
        --sidebar-icon: #a4a4a4;
        --surface-hover: #ffffff26;
        --link: #7ab7ff;
        --link-hover: #5e83b3;
        --surface-error: 249 58 55;
        --scrollbar-color: #ffffff1a;
        --scrollbar-color-hover: #fff3;
    }

    background-color: var(--bg-primary);
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
}

* {
    color: white;
    font-family: ui-sans-serif, -apple-system, system-ui, Segoe UI, Helvetica, Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
    scrollbar-color: #676767 transparent;
}

.cdk-overlay-backdrop {
    opacity: 0 !important;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}