.area {
    width: 100%;
    background-color: var(--bg-elevated-primary);
    min-height: 105px;
    border-radius: 28px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 12px 0px, rgba(255, 255, 255, 0.2) 0px 0px 1px 0px inset;

    .internal {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin: 0 20px;
        background-color: inherit;

        .file-selected {
            width: 252px;
            border-radius: 16px;
            border: 1px solid #ffffff26;
            margin-top: 10px;
            margin-left: -10px;
            display: flex;
            align-items: center;
            padding: 8px;
            gap: 8px;
            position: relative;

            .close-icon {
                background: white;
                border: none;
                position: absolute;
                right: 5px;
                top: 5px;
                width: 16px;
                height: 16px;
                display: flex;
                border-radius: 50%;
                padding: 0;
                cursor: pointer;


                * {
                    color: black;
                }
            }

            .file-data {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                justify-content: center;
                font-size: 14px;

                .file-name {
                    font-weight: 600;
                }
            }
        }

        .flex-centered {
            display: flex;
            justify-content: space-between;
            align-items: anchor-center;
            flex: 1;
        }

        .input {
            padding-top: 16px;
            max-height: 280px;
            overflow: auto;
            line-height: 24px;

            background-color: inherit;
            border: 0;
            flex: 1;
            cursor: text;

            p {
                margin: 0;
            }

            &[placeholder]:empty::before {
                content: attr(placeholder);
                color: #9c9c9c;
                font-weight: 400;
            }

            &[placeholder]:empty:focus::before {
                content: "";
            }

            &[contenteditable]:focus {
                outline: 0px solid transparent;
            }
        }

        .buttons {
            display: flex;
            justify-content: flex-end;
            min-height: 52px;

            button {
                height: 36px;
                background-color: inherit;
                border: 0;
                cursor: pointer;
                border-radius: 50%;
                transition: all 0.5s;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: opacity 0.5s;
                opacity: 0;
                width: 0;
                padding: 0;

                &:first-child {
                    margin-right: auto;
                }

                &.visible {
                    opacity: 1;
                    width: 36px;
                }

                &.light {
                    background-color: white;

                    svg * {
                        color: black;
                    }
                }

                &:not(.light):hover {
                    background-color: #ffffff1a;
                }
            }
        }
    }
}